.giftContainer {
  display: flex;
  flex-direction: column;
  width: 120px;
  border: solid red 1px;
  align-items: center;
  cursor: pointer;
  margin: 12px;
  padding: 12px;
  text-decoration: none;
  color: black;
  font-size: 12.5px;
}

.giftContainerImg {
  background: gray;
  width: 80px;
  height: 80px;
}

.isTooExpensive {
  background-color: lightgrey;
}
