.coin {
    height: 12px;
    width: 12px;
    background-color: gold;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}
  
.cristall {
    height: 12px;
    width: 12px;
    background-color: lightseagreen;
    transform: rotate(45deg);
    display: inline-block;
    margin-right: 6px;
}
